.TabelaProdutos {
   width: 100%;
}

.TabelaProdutos th {
    background-color: #5790f3;
}

.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: #a19292;
}